section.new-tweet {
    display: none;
    margin: 0 2em;
    padding: 1em;
    background-color: #eee;
    border-radius: 10px;
    border: 1px solid #dddddd;
}

.new-tweet h2 {
    margin-top: 0;
    border-bottom: 1px solid #244751;
}

.new-tweet textarea {
    width: 100%;
    padding: 7px;
}

.counter {
    float: right;
}

.counter.red {
    float: right;
    color: red;
}

.new-tweet_error {
    display: none;
    color: red;
    font-size: 12px;
    text-align: center;
    padding-top: 10px;
}